html
  head 
    title Cheesygrader
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
  body
    -if (typeof(message) !== 'undefined') {
      h1= message
    -}

    h1 Cheesy grader. Version 0.0.1alpha
    h2 Don't DDOS me, bro!
    form(method='post', action='/upload', enctype='multipart/form-data')
      p Your name:
        input#namefield(type='text', name='myname')
      p Your code: 
        input#codefield(type='file', name='codeupload')
      p Your output;
        input#outputfield(type='file', name='outputupload')
      button(type=submit) Take my solutions!
    button#gopherit Take my solutions! (Ajax style)

    script(src="js/submitajax.js")
